@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #090b1a;
  --data-color: #fff;
  --header-color: #aa5cdb;
  --highlight-color: #aa5cdb;
  --info-color: hsla(0, 0%, 100%, 0.6);
  --main-color: #1b1938;
  --main-paragraph-color: #ffffff99;
  --title-color: #fff;

  --main-font: 'Inter', sans-serif;
  --info-font: 'Lexend Deca', sans-serif;
}

html {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
}

@media (max-width: 1160px) {
  .Card_container__CkO0u {
      flex-direction: column-reverse;
      max-width: 532px;
  }

  .Header_image__SlY7H {
    border-radius: 10px 10px 0 0 !important;
    width: 100%;
  }

  .Main_container__b3RvA {
    border-radius: 0 0 10px 10px !important;
    padding: 40px !important;
  }

  .Article_container__TrXqX {
    max-width: 100% !important;
    text-align: center;
  }

  .Section_container__JYb1c {
    justify-content: space-between !important;
  }

  .DataInfo_container__snC-d {
    margin-right: 0 !important;
  }
}

@media (max-width: 480px) {
  .Main_container__b3RvA {
    padding: 20px !important;
  }

  .Article_paragraph__J5Gsm {
    margin-bottom: 40px !important;
  }

  .Section_container__JYb1c {
    flex-direction: column;
    text-align: center;
  }

  .DataInfo_container__snC-d {
    margin-bottom: 30px;
  }
}